.mat-flat-button {
  margin: 0 0 2rem 0;
  height: 3rem;
  min-width: 6rem;
  font-size: 1.5rem;
  background-color: rgb(240, 168, 40);
  color: rgb(255, 255, 255)
}

.mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 0 0;
}
