/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 1rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(246, 239, 225);
  color:rgb(56, 64, 77);
}